code {
  font-family: 'Cantata One', serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cantata One', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%)
}

input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  padding: 4px;
}

button {
  background:rgba(112, 103, 207, 0.667);
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
  width: 100%;
}

.Welcome {
  width: 100%;
}

.Navigation {
  margin-bottom: 1rem;
}

.Navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Navigation li {
  display: inline-block;
}

.Navigation a {
  display: block;
  padding: 4px;
  color: black;
  margin: auto;
}

.Jeopardy  {
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  padding: 30px;
  color: black;
  text-align: center;
}
.Jeopardy h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
  margin:-25px;
  margin-bottom: -50px;
  font-weight: 400;
}

.clue {
  padding: 10px;
  font-family: 'Cantata One', serif;
  display:flex;
  flex-wrap: wrap;
  width:30rem;
  color: white;
  font-size: 25px;
  font-variant-caps: all-small-caps;
  background-color: rgba(112, 103, 207, 0.667); /*rgba(24, 134, 207, 0.637);*/
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.AnswerForm {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
.answerbox {
  display: flex;
  flex-grow: inherit;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
  font-size: 25px;
  font-family: 'Cantata One', serif;
}
.AnswerForm button {
  /* margin: 20px; */
  font-family: 'Cantata One', serif;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
  border-style: groove;
  border-collapse: separate;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}
.AnswerForm button ::shadow {
  box-shadow: 1px 1px 10px black;
}
.score {
  font-family: 'Cantata One', serif;
}
.Jeopardy h3 {
  font-size: 60px;
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  margin-bottom: 15px
}
